body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #393a3a; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.card {
    
    background: linear-gradient(180deg, #ffffff 0%, #c2d9ff 100%);
    width: 85%;
    max-width: 380px;
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    text-align: center;
    padding: 40px 20px;
    border: 1px solid #a3c2f0;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #004aad; 
    margin-bottom: 15px;
    box-shadow: 0 8px 20px rgba(0,74,173,0.3);
}

.btn-web { 
    background-color: #004aad; 
}


.btn-whatsapp { background-color: #25d366; }
.btn-call { background-color: #495057; }
.btn-location { background-color: #6c757d; }

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding: 16px;
    margin-bottom: 12px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 15px;
}